<div class="page-header">
	<h1>Weather forecast</h1>
</div>
<div class="col-xs-4">
<p class="lead">

	Choose a country
	<select class="form-control"
		ng-model="country"
		ng-options="country as countryMap[country] for (country , value) in byCountry">
	</select>
	
	Choose a city
	<select class="form-control"
		ng-model="cityId"
		ng-options="city.id as city.name for city in byCountry[country]"
		ng-disabled="(! country)">
	</select>
</p>
</div>
<div class="col-xs-6" ng-show="cityId">
	<h2>{{forecast.name}}</h2>
	<div class="row">
		<div class="col-xs-2">
			<img ng-src="{{forecast.iconUrl}}">
		</div>
		<div class="col-xs-8 lead">
			<strong>{{forecast.temp| number:1}} &deg;C</strong><br>
			<span style="text-transform: capitalize;">{{forecast.main}}</span><br>
			<small>
			{{forecast.description}} &bull;
			{{forecast.humidity}}% of humidity
			</small>
		</div>
		<div class="col-xs-12">
		</div>
	</div>
	<p>
		The forecast
		is kindly enabled by the
		<a href="http://openweathermap.org/current">Open weather API</a>
	</p>
</div>

