<div class="page-header">
	<h1>Add cities</h1>
</div>
<p class="lead">
<form role="form" ng-submit="add()">
	<div class="row">
		<div class="form-group col-xs-3">
			<label for="citySearch">Country</label>
			<select class="form-control"
				ng-model="country"
			    ng-options="c as c.name for c in countries | orderBy:'name'">
			</select>
		</div>
		<div class="form-group col-xs-5">
			<label for="citySearch">City name</label>
			<div class="input-group">
				<input type="text" class="form-control" id="citySearch"
					ng-model="searchName"
					ng-disabled="(!country)">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit"
						ng-disabled="(!country)">Add</button>
				</span>
		    </div>
		</div>
	</div>

	<div class="alert alert-success" role="alert" ng-show="successMessage">
		{{successMessage}}
	</div>
	<div class="alert alert-danger" role="alert" ng-show="errorMessage">
		{{errorMessage}}
	</div>
	
	<div ng-show="cities.length > 0">
	<ul ng-repeat="c in cities">
		<li>{{c.name}} -- {{c.country}}</li>
	</ul>
	</div>
</form>
</p>

<p>Selected cities are held in memory.</p>